ol, ul {
	list-style: none;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
    width: 800px;
    height: 2970px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #aaa
}

#leftcol {
    width: 245px;
    height: 100%;
    float: left;
    margin-right: 10px;
}

.boxclient {
    width: 245px;
    height: 137px;
    border-bottom: 2px solid;
    padding-top:  20px;
}



.simg {
    padding-right: 10px;
    width: 86px;
    padding-bottom: 10px;
    height: auto;
    float: left;
}


.simg2 {
    width: 116px;
    padding-right: 10px;
    float: left;
}

.clientname {
    font-size: 18px;
    line-height: 18px;
}

.clienttitle {
    width: 220px;
    height: 52px;
    font-size: 14px;
    font-weight: 800;
}


#rightcol{
    width: 500px;
    height: 320px;
    background-color:antiquewhite;
    float: left;
    padding-left: 20px;
}